@font-face {
  font-family: 'NanumSquareRoundB';
  font-weight: regular;
  src: url('./fonts/NanumSquareRoundB.ttf') format('truetype');
}

.wrapper {
  display: flex;
  width: 80vw;
  height: 45vw;
  align-items: center;
  justify-content: center;
  background-color: rgba(165, 193, 255, 0.443);
  margin: auto;
  border-radius: 2.5vw;
}

.profile {
  width: 25vw;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  margin-left: 10vw;
}

.introduction {
  width: auto;
  margin: auto;
  font-size: 2vw;
  font-family: 'NanumSquareRoundB';
}

.logo-wrapper {
  display: flex;
  height: 5vw;
  align-items: center;
  justify-content: left;
}

.logo {
  height: 4vw;
  margin-left: 2vw;
  margin-right: 2vw;
}
.logo:hover {
  filter: drop-shadow(0 0 1vw #111cfe64);
}
